@font-face {
    font-family: myriad;
    src: url('./MYRIADPRO-REGULAR.OTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #dddddd;
    font-family: 'myriad', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.background {
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 0.6026785714285714) 0%, rgba(0, 7, 8, 1) 0%, rgba(0, 0, 0, 0) 39%), url('../img/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 797px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    padding: 30px 0;
}

.logo>a>img {
    width: 76px;
}

.menu>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu>ul>li>a {
    color: white;
    text-decoration: none;
    margin: 0 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.slider_content>h1 {
    font-size: 50px;
}

.slider_content>p {
    font-size: 20px;
    line-height: 30px;
    color: #dfdfdf;
    margin-top: 20px;
}

button.order_btn {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 35px;
    background-color: #f64b3c;
    border: none;
    color: white;
    margin: 25px 0;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.slider_content {
    position: relative;
    display: block;
    padding: 175px 0;
}

.our_chef {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 796px;
}

.header_title {
    width: 530px;
    margin: 0 auto;
    text-align: center;
    padding-top: 65px;
}

.header_title>h3 {
    font-size: 45px;
    color: #f64b3c;
    font-weight: 600;
}

.header_title>p {
    font-size: 20px;
    line-height: 30px;
    color: #ed5e52;
    margin-top: 30px;
}

.profile {
    width: 367px;
    display: inline-block;
    text-align: center;
}

.profile>img {
    width: 150px;
}

.content_box {
    padding: 140px 0;
}

.profile {
    width: 367px;
    display: inline-block;
    text-align: center;
}

.profile>img {
    width: 150px;
}

.content_box {
    padding: 140px 0;
}

.profile>h4 {
    font-size: 25px;
    color: #f64b3c;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.profile>p {
    font-size: 20px;
    color: #ed5e52;
    margin: 5px 0;
}

section.single_buger {
    display: block;
    position: relative;
    background-color: #f64b3c;
    padding: 130px 0;
}

.burger_content {
    display: inline-block;
    width: 550px;
}

.burger_content.img {
    text-align: center;
    width: 500px !important;
}

.burger_content.img {
    text-align: center;
    width: 500px !important;
}

.burger_content>h4 {
    font-size: 55px;
}

.burger_content>p {
    font-size: 20px;
    padding: 20px 0;
    display: inline-block;
}

.burger_content>button {
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    padding: 9px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 25px;
    color: #f64b3c;
    font-weight: 600;
}

.burger_content.img>img {
    width: 300px;
}

.burger_box {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.burger_content.img {
    text-align: center;
    width: 500px !important;
}

.burger_content>h4 {
    font-size: 55px;
}

.burger_content>p {
    font-size: 20px;
    padding: 20px 0;
    display: inline-block;
}

.burger_content>button {
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    padding: 9px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 25px;
    color: #f64b3c;
    font-weight: 600;
}

.burger_content.img>img {
    width: 300px;
}

.burger_box {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.burger_content>button:hover,
.burger_box.big>div>button:hover,
button.order_btn:hover {
    background-color: #9cb666;
    color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.burger_content.img>img {
    transition: all ease 0.5s;
}

.burger_content.img>img:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}

.burger_box.big {
    padding: 246px 0;
}

.burger_box.big>div>h4 {
    color: #f64b3c;
}

.burger_box.big>div>p {
    color: #ed5e52;
}

.burger_box.big>div>button {
    background-color: #f64b3c;
    color: white;
    /* transition: 0.5s; */
}

section.counter_box {
    background-color: #f64b3c;
}

.header_title.counter_title>h3 {
    color: white;
}

.header_title.counter_title>p {
    color: #e5e5e5;
}

.counter_profile>h2 {
    font-size: 55px;
}

.counter_profile>p {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.counter_profile {
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 100px;
    padding: 35px 30px;
    text-align: center;
    margin: 0 80px;
}

.counter_content {
    text-align: center;
    margin-top: 56px;
    padding-bottom: 65px;
}

.header_title>h4 {
    font-size: 50px;
    color: #f64b3c;
}

.popular_content {
    width: 270px;
    display: inline-block;
    background-color: #ffffff;
    margin: 0 48px;
    transition: 0.5s;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 15px 1px #dddddd;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.popular_content>h4 {
    color: #f64b3c;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
}

.popular {
    display: block;
    position: relative;
    margin-top: 109px;
}

.popular_content>img {
    width: 80px;
}

.popular_content>h5 {
    font-size: 25px;
    color: #f64b3c;
    margin-top: 20px;
}

.popular_content>p {
    color: #f64b3c;
    padding: 13px 0;
}

.popular_content>button {
    font-size: 15px;
}

.popular_content:hover {
    transform: translateY(-10px);
    background-color: #b8cd77;
}

/* .popular_content:hover h4,
.popular_content:hover h5,
.popular_content:hover p {
    color: white;
} */

.review {
    background-image: url('../img/bg-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 796px;
    position: relative;
}

.layouts {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgb(246 75 60 / 59%);
}

.review_content {
    width: 550px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 9;
    padding: 299px 0;
}

.review_content>p {
    font-size: 25px;
    color: white;
}

.review_content>h2 {
    font-size: 40px;
    margin-top: 30px;
    font-family: none;
}

input.forom-control {
    width: 395px;
    padding: 15px 25px;
    border: gainsboro;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.form-group>button {
    cursor: pointer;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    padding: 13px 9px;
    border: none;
    background-color: #f64b3c;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

form {
    margin-top: 53px;
}

.header_title.subscribe {
    padding: 258px 0px;
}

footer {
    background-color: #222222;
    color: #b3b3b3;
    padding: 150px 0px;
}

.footer_box {
    position: relative;
    display: inline-block;
}

.two_column {
    width: 550px;
    display: inline-block;
    float: left;
    padding: 35px;
}

.two_column.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two_column>.page_link>h4,
.two_column>h4 {
    font-size: 20px;
    letter-spacing: 2px;
}

.two_column>p {
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;
    padding: 15px 0px;
}


ul.socila {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 15px 0px;
}

ul.socila>li {
    margin-right: 15px;
}

ul.socila>li>a {
    background-color: #e5e5e5;
    font-size: 20px;
    color: #222222;
    padding: 7px 10px;
    border-radius: 100%;
    transition: 0.5s;
}

ul.socila>li>a:hover {
    background-color: #f56154;
    font-size: 22px;
    color: white;
}

.page_link>ul {
    list-style: none;
    margin-top: 15px;
}

.page_link>ul>li>a {
    text-decoration: none;
    margin: 10px 0px;
    display: block;
    color: #b3b3b3;
    /* letter-spacing: 1px; */
}

.dropdown {
    position: absolute;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    width: 160px;
    z-index: 99;
    box-shadow: 0 4px 5px 2px #222222;
    transition: all ease 0.5s;
}

.sub_dropdown {
    position: absolute;
    background-color: white;
    width: 160px;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    left: 170px;
    top: 0;
    box-shadow: 0 4px 5px 2px #222222;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.menu>ul>li {
    position: relative;
}

.sub_dropdown>ul,
.dropdown>ul {
    list-style: none;
}

.sub_dropdown>ul>li>a,
.dropdown>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid #ddd;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sub_dropdown>ul>li>a:hover,
.dropdown>ul>li>a:hover {
    background-color: #ddd;
    padding-left: 22px;
}

.dropdown>ul>li {
    position: relative;
}

.sub_dropdown:before {
    content: "";
    border-right: 12px solid white;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 9px;
}

.menu>ul>li:hover .dropdown,
.dropdown>ul>li:hover .sub_dropdown
 {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);
}